line {
    stroke:none;
    stroke-width: 16px;
}

[class*="cb-"] {
    color:black;
}

[class*="cw-"] {
    color:white;
}

.cb-none{
    background: none;
    stroke: none;
}

.cw-black{
    background: black;
    stroke: black;
}

.cw-brown{
    background: brown;
    stroke: brown;
}

.cw-red{
    background: red;
    stroke: red;
}

.cb-orange{
    background: orange;
    stroke: orange;
}

.cb-yellow{
    background: yellow;
    stroke: yellow;
}

.cw-green{
    background: green;
    stroke: green;
}

.cw-blue{
    background: blue;
    stroke: blue;
}

.cb-violet{
    background: violet;
    stroke: violet;
}

.cw-grey {
    background: gray;
    stroke: gray;
}

.cb-white{
    background: white;
    stroke: white;
}

.cb-gold{
    background: gold;
    stroke: gold;
}

.cb-silver{
    background: silver;
    stroke: silver;
}

path.domain {
    stroke: none;
}

#infobox {
    position: fixed;
    left: 500px;
    top: 50px;
    z-index: 1;
    background: white;
    border: 1px black solid;
}

tr {
    border: 1px gray solid;
}

td.data {
    font-weight: 900;
}